
body {
   background-image:         url(background.jpg);
   background-repeat:        repeat;
}

/*=========================== logo ==========================================*/

.logo {
   position:                 fixed;
}

.logo div {
   position:                 absolute;
   top:                      -40px;
   text-align:               center;
   width:                    100%;
   font-family:              Calibri;
   font-size:                200%;
   color:                    #00AEDA;
}

.logo img {
   top:                      0;
   left:                     0;
   outline:                  none;
   border:                   0;
}

/*=========================== input =========================================*/

/*===== input selection: Xively or Google? */

.inputselection{
   position:                 fixed;
   top:                      50%;
   left:                     50%;
   margin-top:               -150px;
   margin-left:              -250px;
}

.inputselection tr {
   text-align:               center;
}

.inputselection tr td {
   text-align:               center;
   padding:                  10px;
   font-family:              Calibri;
   font-size:                150%;
}

.link {
   cursor:                   pointer;
}

/*===== Xively/Google form */

.displaytopmiddle{
   position:                 fixed;
   top:                      20%;
   left:                     50%;
   margin-top:               0px;
   margin-left:              -250px;
}

.displaylowerleft{
   position:                 fixed;
   top:                      100%;
   left:                     0%;
   margin-top:               -50px;
   margin-left:              20px;
}

.inputform  tr td {
   font-family:              Calibri;
}

.inputform  tr td p {
   font-family:              arial;
   font-style:               italic;
}

#xivelyMasterApiKey{
   width:                    500px;
}

#xivelyfeeds{
   width:                    500px;
}

#spreadsheetkey{
   width:                    350px;
}

/*=========================== widget ========================================*/

.draggable {
   position:                 relative;
   cursor:                   move;
}

.widget {
   float:                    left;
   width:                    170px;
   height:                   210px;
   background-color:         #fefefe;
   -moz-box-shadow:          2px 2px 6px 3px #bbbbbb;
   /*-webkit-box-shadow:     3px 3px 5px 3px #bbbbbb;*/
   box-shadow:               2px 2px 6px 3px #bbbbbb;
   margin:                   0px 9px 9px 0px;
}

.viz {
   position:                 absolute;
   width:                    150px;
   height:                   150px;
   top:                      10px;
   left:                     10px;
   background-color:         green;
}

.mac {
   position:                 absolute;
   width:                    150px;
   height:                   20px;
   left:                     10px;
   top:                      175px;
   background-color:         white;
   font-size:                x-small;
   text-align:               center;
   font-family:              Lucida Console;
}

.datalink {
   position:                 absolute;
   width:                    150px;
   left:                     10px;
   top:                      195px;
   background-color:         white;
   font-size:                x-small;
   text-align:               right;
   font-family:              Lucida Console;
}

.temperature {
   text-align:               center;
   color:                    white;
   font-size:                xx-large;
   font-family:              Lucida Console;
   line-height:              4em;
}

/*=========================== widget interaction ============================*/

#lightbox {
   position:                 absolute;
   top:                      0;
   left:                     50%;
   width:                    500px;
   margin-left:              -250px;
   background:               #fff;
   z-index:                  2001;
   display:                  none;
   box-shadow:               0px 0px 1em white;
}

#lightbox-shadow {
   position:                 absolute;
   top:                      0;
   left:                     0;
   width:                    100%;
   height:                   100%;
   background:               #000;
   filter:                   alpha(opacity=75);
   opacity:                  0.75;
   z-index:                  2000;
   display:                  none;
}

/*=========================== debug =========================================*/

.settings {
   position:                 absolute;
   top:                      10px;
   left:                     10px;
}
